.container {
  // display: inline-block;\
  // width: calc(25% - 30px);
  // min-width: 200px;
  .title {
    cursor: default;
    text-transform: uppercase;
    display: inline-block;
    user-select: none;
  }

  .list {
    // @include mixin.itemsRow(15);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
}
